# Игнорирование виртуального окружения
.venv/
venv/
.env

# Игнорирование конфигурационных файлов IDE
.idea/

# Игнорирование системных файлов Mac
.DS_Store

# Игнорирование файлов логов
*.log

# Игнорирование временных файлов
*.pyc
*.pyo
__pycache__/

# Игнорирование файлов конфигурации системы
*.swp
*.swo

# Игнорирование файлов, связанных с работой Git
!.gitignore